<h1> {{article.title}} </h1>
<p>Article Written by {{article.author}} </p>
<p>{{article.body}} </p>


<a href="/articles/edit/{{article._id}}" class="btn btn-primary btn-sm">Edit</a>
<a href="" data-id="{{article._id}}"  class="btn btn-danger delete-article btn-sm">Delete</a>